// ブレークポイントとmixin
$breakpoints: (
    "sp": "screen and (max-width: 767px)",
    "tb": "screen and (min-width:768px) and (max-width:1024px)",
    "pc": "screen and (min-width:768px)",
)!default;
//1024pxはipadを横に向けたサイズ
@mixin mq($breakpoint:pc){
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

