//サイトで使用する色を定義

$white:#fff;
$black:#000;
$cl-black:#333;
$bg-dark:#4a4a4a;
$bg-middle:#a98c5f;
$bg-light:#fafafa;
$cl-border:#808080;
$bg-gray:#6f6f6f;

$cream:#FFF4E0;
$bg-orange:#FFC679;
$orange:#FFBC61;
$cl-red:#F99292;
$cl-blue:#48d9f3